h1 {
    color: rgb(88, 255, 88);
    text-align: left;
    text-shadow: 2,2,3;
    animation: slideright 2s ease forwards;
    
}

h1.center{
    color: rgb(88, 255, 88);
    text-shadow: 2,2,3;
    animation: slideright 2s ease forwards;
 
}

h2{
    color:aquamarine;
    animation: slideright 2s ease forwards;
}
ul.navig{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: top;
    width: 100%;
    top:0%;
    animation: slideright 2s ease forwards;
}
li.nav{
    float: left;
    animation: slideright 2s ease forwards;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;
    animation: slideright 2s ease forwards;
}

li a:hover:not(.active){
    background-color: green;
    animation: slideright 2s ease forwards;
}

.active{
    background-color: green;
    animation: slideright 2s ease forwards;
}

table{
    width: 80%;
    margin-left: 10%;
    border: double;
    animation: slideright 2s ease forwards;
}
thead, td ,th, tr{
    border:double;
    animation: slideright 2s ease forwards;
}
body{
    color: white;
    background-color: rgb(40, 40, 40);
    animation: slideright 2s ease forwards;
} 
p.para{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    width: 90%;
    margin-left:5%;
    font-size: medium;
    animation: slideright 2s ease forwards;
}
p{
    font-size: large;
    animation: slideright 2s ease forwards;
}
ul{
    margin-left: 7.5%;
    animation: slideright 2s ease forwards;
}

input[type=text], select{
    width: 100%;
    display: inline-block;
    padding: 10px ;
    border: 1px solid gainsboro;
    border-radius: 4px;
    box-sizing: border-box;
    animation: slideright 2s ease forwards;
}
input[type=number], select{
    width: 100%;
    display: inline-block;
    padding: 10px ;
    border: 1px solid gainsboro;
    border-radius: 4px;
    box-sizing: border-box;
    animation: slideright 2s ease forwards;
}

input[type=submit] {
    width: 100%;
    height: 30px;
    display: inline-block;
    border: black;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(24, 188, 24);
    cursor: pointer;
    animation: slideright 2s ease forwards;
}
input[type=reset] {
    width: 100%;
    height: 30px;
    display: inline-block;
    border: black;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: gainsboro;
    cursor: pointer;
    animation: slideright 2s ease forwards;
}
div.feed{
    border-radius: 5px;
    background-color: gray;
    padding: 20px;
    width: 50%;
    margin-left: 25%;
    animation: slideright 2s ease forwards;

}
img{
    animation: slideright 2s ease forwards;
}
iframe{
    animation: slideright 2s ease forwards;
}
@keyframes slideright {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 100;
        transform: translateX(0);
    }
    
}