h1 {
    color: rgb(88, 255, 88);
    text-align: left;
    text-shadow: 2,2,3;
}
table{
    width: 80%;
    margin-left: 10%;
    border: double;
}
thead, td ,th, tr{
    border:double;
}
body{
    color: white;
    background-color: rgb(40, 40, 40);
}
